*{
	box-sizing:border-box; 
	font-family:"Comic Sans MS", serif, sans-serif;
}

.container-heading{
	text-align:center;
	font-size:175%;
	width:90%;
	margin:25px;
}

.row{
	padding:15px;
	margin:25px;
	border:5px;
	width:90%;
}

.block{
	margin:15px;
	border: 3px solid black;
	background-color:lightgray;
}

.content{
	margin:15px;
	clear:both;
}

.block-title{
float:right; 
text-align:center;
font-size:125%;
border:3px solid black;
width:25%;
}

#chicken{
	background-color:lightpink;
}
#beef{
	background-color: lightcoral;
	color:white;
}
#sushi{
	background-color:LightGoldenRodYellow;
}

@media(min-width:992px){

.col-lg-4{
	float:left;
	width:33.33%;
	}

}

@media(min-width:768px) and (max-width:991px){

.col-md-6, .col-md-12{
	float:left;
	}

.col-md-6{
	width:50%;
}

.col-md-12{
	width:100%;
}

}

@media(max-width:767px){
.col-sm-12{
	float:left;
	width:100%;
}
}
