*{
	box-sizing:border-box; 
	font-family:"Comic Sans MS", serif, sans-serif;
}
.chicken{
}
.menu-title{
position:relative; 
float: right; 
}
@media(min-width:992px){
.col-lg-4{
	width:33.33%;
	float:left;
	background-color:azure;
	}
}
@media(min-width:768px) and (max-width:991px){
.col-md-6, col-md-12{
	float:left; 
	background-color:azure;
}
.col-md-6{
width:50%;
}
.col-md-12{
	width:100%;
}
}
@media(max-width:767px){
.col-sm-12{
	width:100%;
	float:left;
	background-color:azure;
}
}
